header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: solid 2px rgb(205, 205, 205);
}

main {
    display: block;
    box-sizing: border-box;
    height: calc(100vh - 80px);
}